.select {
  box-sizing: border-box;
  height: 56px;
  position: relative;
  width: 100%;
}

.select__label {
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.select__text {
  font-size: 1.5em;
  left: 32px;
  line-height: 1;
  margin: 16px;
  position: absolute;
  top: 0;
  transition: all 0.3s ease-in-out;
}

.select__select:focus + .select__label > .select__text,
.select__select--active + .select__label > .select__text {
  font-size: 0.75em;
  top: -4px;
}

.select__icon {
  font-size: 1.5em;
  margin: 16px 8px 16px 16px;
}

.select__select {
  appearance: none;
  background-color: var(--color-white);
  border: 2px solid var(--color-black);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  font-size: 1rem;
  height: 100%;
  padding-left: 48px;
  width: 100%;
}

.select__select:focus,
.select__select--active {
  padding: 16px 0 8px 46px;
}

.select__iconDown {
  font-size: 1.5rem;
  position: absolute;
  right: 24px;
  top: 15px;
}
