.person {
  height: 72px;
  position: relative;
  width: 96px;
}

.head {
  background-position: bottom;
  background-size: cover;
  border: 2px solid var(--color-black);
  border-radius: 100%;
  box-sizing: border-box;
  height: 72px;
  position: absolute;
  width: 72px;
}

.head:after {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 100%;
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.eyes:after {
  background-color: var(--color-black);
  border-radius: 100%;
  content: "";
  height: 14px;
  left: 14px;
  position: absolute;
  top: 20px;
  width: 12px;
  z-index: 2;
}

.eyes:before {
  background-color: var(--color-black);
  border-radius: 100%;
  content: "";
  height: 14px;
  position: absolute;
  right: 14px;
  top: 20px;
  width: 12px;
  z-index: 2;
}

.mouth {
  border-bottom: 4px solid var(--color-red);
  border-radius: 100%;
  bottom: 16px;
  height: 16px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 32px;
  z-index: 2;
}
