.unitednations {
  height: 72px;
  position: relative;
  width: 96px;
}

.unitednations:after {
  background-color: var(--color-white);
  bottom: -12px;
  content: "";
  height: 12px;
  position: absolute;
  width: 100%;
}

.unitednations:before {
  background-color: var(--color-green);
  border-radius: 100%;
  bottom: -12px;
  content: "";
  height: 24px;
  position: absolute;
  width: 100%;
}

.unitednations__flag {
  background-color: var(--color-orange-lighter);
  border-radius: 2px;
  bottom: 36px;
  height: 16px;
  left: 12px;
  margin: auto;
  position: absolute;
  right: 0;
  transform: skew(2deg);
  width: 24px;
  z-index: 1;
}

.unitednations__flag:after,
.unitednations__flag2:after,
.unitednations__flag3:after,
.unitednations__flag4:after,
.unitednations__flag5:after {
  background-color: var(--color-black);
  border-radius: 100%;
  bottom: -26px;
  content: "";
  display: block;
  height: 42px;
  left: 0;
  position: absolute;
  width: 2px;
  z-index: 2;
}

.unitednations__flag2 {
  background-color: var(--color-blue);
  border-radius: 2px;
  bottom: 29px;
  height: 16px;
  left: -61px;
  margin: auto;
  position: absolute;
  right: 0;
  transform: skew(2deg);
  width: 24px;
}

.unitednations__flag3 {
  background-color: var(--color-green-blue);
  border-radius: 2px;
  bottom: 33px;
  height: 16px;
  left: -28px;
  margin: auto;
  position: absolute;
  right: 0;
  transform: skew(2deg);
  width: 24px;
}

.unitednations__flag4 {
  background-color: var(--color-red);
  border-radius: 2px;
  bottom: 34px;
  height: 16px;
  left: 51px;
  margin: auto;
  position: absolute;
  right: 0;
  transform: skew(2deg);
  width: 24px;
  z-index: 1;
}

.unitednations__flag5 {
  background-color: var(--color-orange);
  border-radius: 2px;
  bottom: 31px;
  height: 16px;
  left: 78px;
  margin: auto;
  position: absolute;
  right: 0;
  transform: skew(2deg);
  width: 24px;
  z-index: 1;
}
