.button {
  align-items: center;
  border: 2px solid var(--color-black);
  border-radius: var(--border-radius);
  box-shadow: 4px 4px 0px var(--color-black);
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-size: var(--main-font-size);
  gap: 4px;
  line-height: 1;
  padding: 4px;
  position: relative;
  margin: 24px 0 0 var(--main-padding);
  min-height: 48px;
  min-width: 96px;
  transition: all 300ms ease-in-out;
}

.button:focus,
.button:active,
.button:hover {
  box-shadow: 0 0 0;
  transform: translateX(4px) translateY(4px);
}
