.country {
  box-sizing: border-box;
  max-width: 1600px;
  min-height: 100vh;
  padding: 36px;
  width: 100vw;
}

.country__header {
  align-items: center;
  display: flex;
  margin-bottom: 48px;
}

.header__text {
  margin-left: 24px;
}

.header__flag {
  border: 2px solid var(--color-black);
  border-radius: 10px;
  object-fit: cover;
}

.country__infoGroup {
  box-sizing: border-box;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 72px);
  margin-bottom: 48px;
  padding: 0;
  width: 100%;
}

.country__h2 {
  font-size: 2.5rem;
  margin-bottom: 36px;
}

.country__info {
  align-items: flex-end;
  display: flex;
  font-size: 1.5rem;
  gap: 16px;
  list-style: none;
}

.country__factsGroup {
  box-sizing: border-box;
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-template-rows: repeat(2, 1fr);
  margin-bottom: 48px;
  padding: 0;
  width: 100%;
}

.country__fact {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  gap: 8px;
  list-style: none;
}

.country__drawing {
  align-items: flex-end;
  display: flex;
  height: 72px;
  margin-bottom: 0.4em;
  width: 96px;
}

.country__iframeGroup {
  border-radius: var(--border-radius);
  height: 360px;
  position: relative;
}

.country__iframeGroup:not(:last-child) {
  margin-bottom: 48px;
}

.country__map {
  border: 2px solid var(--color-black);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  height: 100%;
  position: relative;
  width: 100%;
  z-index: 2;
}
