:root {
  --font-family: "Neucha", sans-serif;

  --logo-font-size: 3rem;
  --h1-font-size: 6rem;
  --h2-font-size: 2rem;
  --h3-font-size: 1.5rem;
  --main-font-size: 1.25rem;

  --color-black: #222;
  --color-gray: #eee;
  --color-white: #fff;
  --color-yellow: #f9c74f;
  --color-orange-darker: #f3722c;
  --color-orange-lighter: #f9844a;
  --color-orange: #f8961e;
  --color-red: #f94144;
  --color-green: #90be6d;
  --color-green-blue: #43aa8b;
  --color-green-blue-dark: #4d908e;
  --color-blue-dark: #577590;
  --color-blue: #277da1;

  --header-height: 64px;

  --border-radius: 10px;

  --main-padding: 36px;
}

body {
  color: var(--color-black);
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--h1-font-size);
  line-height: 1;
  margin: 0;
}

h2 {
  font-size: var(--h2-font-size);
  line-height: 1;
  margin: 0;
}

h3 {
  font-size: var(--h3-font-size);
  line-height: 1;
  margin: 0;
}

a {
  color: var(--color-black);
}

@media (max-width: 1023px) {
  body {
    --h1-font-size: 4rem;
    --h2-font-size: 2rem;
    --main-padding: 16px;
  }
}
